#header{
    background-color: #6b43c6;
    color: #ffffff;
    padding: 15px;
    border-radius: 4px;
    margin: auto;
    width: 85%;
    font: 100% Times New Roman, Helvetica;
    font-size: 2.25em
}

.container{
    background-color: #cac8ce;
    color: #000000;
    padding: 15px;
    margin: auto;
    border-radius: 4px;
    width: 85%;
    height: auto;
}

#search{
    border-bottom: 1px solid #e9e8ed;
}

#result{
    font-size: 1.25em;
    color: #000000;
}